.home-banner {
  background: url(https://i.ibb.co/LxKB8r5/background-search.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
  height: 650px;
  margin-top: -80px;
  padding-top: 60px;
}
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  height: 550px;
}
.banner-left {
  color: var(--white-color);
}
.banner-left h1 {
  color: var(--primary-color);
  font-weight: 700;
  text-shadow: 2px 2px var(--white-color);
  margin: 20px 0;
}
.banner-left h4 {
  font-weight: 700;
  text-shadow: 2px 2px 14px var(--secondary-color);
}
.banner-left .btn {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.banner-left .btn:hover {
  color: var(--primary-color);
  background-color: var(--white-color);
}
.home-banner .banner-right img {
  width: 100%;
  height: auto;
}
@media (max-width: 677px) {
  .home-banner .banner-right img {
    display: none;
  }
  .banner-container,
  .home-banner {
    height: 75vh;
    padding-top: 30px;
  }
}
