.form-group {
  width: 100%;
}
.form-group input {
  border: var(--border);
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: var(--radius);
  margin-bottom: 15px;
}
.form-group input:focus-within {
  outline-width: var(--outline-width);
}
.form-error {
  color: var(--primary-color);
  margin-bottom: 15px;
}
.form-link {
  margin: 20px 0;
}
.forget-password {
  cursor: pointer;
  margin: 10px 0;
  transition: var(--transition);
}
.forget-password:hover {
  color: var(--primary-color);
}
