.social-login {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.social-login img {
  width: 30px;
  height: 30px;
}
.social-login .btn {
  padding: 10px;
}
.social-login .btn:hover {
  background-color: transparent;
  box-shadow: var(--shadow);
}
