.update-inventory {
  max-width: 677px;
  margin: 30px auto;
  box-shadow: var(--shadow);
  padding: 20px;
  text-align: center;
}
.update-inventory img {
  width: 100%;
  height: 380px;
}
.update-form {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.update-form .form-group {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  margin: 0;
}
.update-form .btn {
  height: 40px;
  margin: 0;
}
